{{#section 'css'}}
<link rel="stylesheet" href="/css/style-laptop.css" type="text/css">
{{/section}}
<div class=" shadow">
    <h4 class="card-header d-flex flex-column text-center">
        <span>Danh sách đánh giá</span>
        <span class="text-danger mt-2"> {{points.LikePoint}} Like, {{points.DislikePoint}} Dislike, Phần trăm điểm:
            {{totals}}</span>
    </h4>


    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="text-center">Người đánh giá</th>

                {{!-- <th scope="col" class="text-right">
                    <a class="btn btn-outline-success" href="/admin/categories/add" role="button">
                        <i class="fa fa-plus" aria-hidden="true"> </i>
                        Add Category
                    </a>
                </th> --}}
                <th scope="col" class="text-center">Tin nhắn</th>
                <th scope="col" class="text-center">Sản phẩm</th>

            </tr>
        </thead>
        <tbody>
            {{#each feedbacks}}
            <a href="products/detail/{{ProID}}">
                <tr>

                    <td scope="row" class="text-center">{{FBerID}}</td>
                    <td scope="row" class="text-center">{{content}}</td>
                    <td scope="row" class="text-center">{{ProID}}</td>

                </tr>
            </a>


            {{/each}}


        </tbody>
    </table>
</div>