{{#section 'css'}}
<link rel="stylesheet" href="/css/style-laptop.css" type="text/css">
{{/section}}
<div class="container">
    <div class="col-12 text-center">
        <h6>Thông tin của {{users.f_UserName}}</h6>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Tên: {{users.f_Name}}</li>
        <li class="list-group-item">Số điện thoại:  </li>
        <li class="list-group-item">Email:  {{users.f_Email}}</li>
        <li class="list-group-item">Điểm đánh giá: <strong>{{points.LikePoint}}</strong> Like and <strong>{{points.DislikePoint}}</strong>  dislike </li>
        <li class="list-group-item">Loại:  {{users.f_Type}}</li>
    </ul>
</div>
</div>