<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  {{!-- CSS --}}
  {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../assets/slick-1.8.1/slick/slick.css" />
  <link rel="stylesheet" href="../assets/slick-1.8.1/slick/slick-theme.css" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" /> --}}

  {{!-- <link rel="stylesheet" href="../css/responsive.css" /> --}}
  {{!-- <link rel="stylesheet" href="../css/footer.css" /> --}}
  {{!-- <link rel="stylesheet" href="../css/style.css"/> --}}

  {{#each css}}
  <link rel="stylesheet" href="{{this}}" type='text/css'>
  {{/each}}


  {{#each customCss}}
  <link rel="stylesheet" href="../css/{{this}}" type='text/css'>
  {{/each}}

</head>

<body>



  {{{body}}}



  {{!-- Javascript --}}

  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="../assets/slick-1.8.1/slick/slick.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
  
  <script src="../js/script.js" type="text/javascript"></script> --}}

  {{#each js}}
  <script src="{{this}}" type="text/javascript"></script>
  {{/each}}

  <script>
    $(document).ready(function () {
      $('.slider-area').bxSlider({
        mode: "fade",
        auto: true,
        pager: false,
      });
    });

    $(document).ready(function () {
      $('.bxslider').bxSlider({
        slideMargin: 0,
        speed: 0,
        ticker: true,
        minSlides: 3,
        maxSlides: 10,
        slideWidth: 250,
        pager: true
      });
    });
  </script>
</body>

</html>