{{#section 'css'}}
<link rel="stylesheet" href="/css/style.css" type="text/css" />
{{/section}}
<div class=" shadow">
  <h4 class="card-header">
    Products
  </h4>
  {{#if empty}}
  <div class="card-body">
    <p class="card-test">
      Không có dữ liệu
    </p>
  </div>
  {{else}}

  <div class="card-body">
    <div class="row">
      {{#each this.products}}
      <div class="col-sm-4 mb-3">
        <div class="card">
          <img src="/imgs/sp/{{ProID}}/{{ProID}}_0.jpg" alt="{{ProName}}" title="{{ProName}}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title mt-3">
              {{ProName}}

            </h5>
            {{#if isOwn}}
            <h5>Sản phẩm bạn đang giữ giá </h5>
            {{/if}}

            <h5 class="card-title text-danger">{{format Price}}</h5>
            <p class="card-text">
              {{TinyDes}}
            </p>

          </div>
          <div class="card-footer text-center">
            <a class="btn btn-sm btn-outline-primary" href="/products/detail/{{ProID}}" role="button">
              <i class="fa fa-eye" aria-hidden="true"></i>
              Details
            </a>
            <form method="POST" action="/products/addWishListOut">
              <input type="hidden" name="ProID" value="{{ProID}}">
              <button type="submit" class="btn btn-primary mt-2"> <i class="fas fa-heart"></i> Add wish list</button>

            </form>
          </div>

        </div>

      </div>
      {{/each}}
    </div>

  </div>

  {{/if}}





</div>