{{#section 'css'}}
<link rel="stylesheet" href="/css/style.css" type="text/css" />
<link rel="stylesheet" href="/css/style-allByCat.css" type="text/css">
{{/section}}




<div class=" shadow">
  <h4 class="card-header">
    Sản phẩm
  </h4>
  {{#if this.empty}}
  <div class="card-body">
    <p class="card-test">
      Không có dữ liệu
    </p>
  </div>
  {{else}}
  <div class="card-body">
    <div class="row">
      {{#each this.products}}
      <div class="col-sm-4 mb-5 card-content" onclick="window.open('/products/detail/{{ProID}}', '_self');">
        <div class="card card-container-2">
          <div class="img-container">
            <img src="/imgs/sp/{{ProID}}/{{ProID}}_0.jpg" alt="{{ProName}}" title="{{ProName}}">
          </div>
          <div class="card-body main-content">
            <h5 class="title">
              {{ProName}}
            </h5>
            <h5 class="card-title current-price">Giá hiện tại: {{format Price}}đ</h5>
            <p class="card-title price-holder">Người giữ giá: {{WinerID}}</p>
            <p class="number-bid">Số lượt ra giá: {{NumberBid}}</p>
            {{#if MinutesAgo}}
            moi tao trong 2 phut
            {{/if}}
            <p class="card-text desc">
              {{TinyDes}}
            </p>

            <div class="buttons">
              <a class="btn btn-sm btn-outline-primary" href="/products/detail/{{ProID}}" role="button">
                <i class="fa fa-eye" aria-hidden="true"></i>
                Detail
              </a>
              <a class="btn btn-sm btn-outline-success"
                onclick="window.open('https://www.w3schools.com', '_self'); event.stopPropagation(); " role="button">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Add to cart
              </a>
            </div>
          </div>

        </div>

      </div>
      {{/each}}
    </div>
    <div class="row">
      <div class="col-sm-12">
        <nav>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="?page={{prev_value}}">
                <i class="fa fa-backward" aria-hidden="true"></i>
              </a>
            </li>

            {{#each this.page_numbers}}
            {{#if isCurrentPage}}

            <li class="page-item active">
              <a class="page-link" href="javascript:;">{{value}} <span class="sr-only">(current)</span></a>
            </li>
            {{else}}
            <li class="page-item">
              <a class="page-link" href="?page={{value}}">{{value}}</a>
              {{isAuthenticated}}
            </li>

            {{/if}}
            {{/each}}


            <li class="page-item">
              <a class="page-link" href="?page={{next_value}}">
                <i class="fa fa-forward" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  {{/if}}

</div>