{{#section 'css'}}
<link rel="stylesheet" href="/css/style-laptop.css" type="text/css">
{{/section}}
{{#section 'js'}}
<script src="/js/slideshow.js"></script>
{{/section}}
<div class="mt-3 ml-5">
  <ul class="list-inline">
    <li class="list-inline-item"><a class="text-dark" href="/">Trang chủ</a></li>
    <li class="list-inline-item"> <i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li class="list-inline-item"><a class="text-dark" href="#"> Nhạc cụ</a></li>
    <li class="list-inline-item"> <i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li class="list-inline-item "><a class="text-danger" href="#">{{products.ProName}}</a></li>
  </ul>
</div>
<div class="container ">

  <div class="row m-2  ">
    <div class="col-12 col-md-5 border-right border-bottom border-left">
      <div class="row">
        <img class="slide" src="/imgs/sp/1/1_0.jpg" alt="">
        <img class="slide" src="/imgs/sp/1/1_1.jpg" alt="">
        <img class="slide" src="/imgs/sp/1/1_2.jpg" alt="">
        <img class="slide" src="/imgs/sp/1/1_3.jpg" alt="">
        <img class="slide" src="/imgs/sp/1/1_4.jpg" alt="">


      </div>
      <div class="row d-flex justify-content-center">


        <img onclick="shows(1)" class="border itemcard" src="/imgs/sp/1/sm1.jpg" alt="">
        <img onclick="shows(2)" class="border itemcard" src="/imgs/sp/1/sm2.jpg" alt="">
        <img onclick="shows(3)" class="border itemcard" src="/imgs/sp/1/sm3.jpg" alt="">
        <img onclick="shows(4)" class="border itemcard" src="/imgs/sp/1/sm4.jpg" alt="">
        <img onclick="shows(5)" class="border itemcard" src="/imgs/sp/1/sm5.jpg" alt="">


      </div>


    </div>

    <div class="col-12 col-md-6 border-right border-bottom border-left">
      <div class="row    ">

        <div class="col-12 mt-4">
          <span class="font-weight-bold ">
            {{products.ProName}} <br>
          </span>
          <span> <small>Thương hiệu :</small> <span class="text-danger">Cherub</span> </span> <br>Yêu
          {{#if isCantBid}}
          <span class="text-danger">Không thể đấu giá vì điểm đánh giá của bạn bé hơn 80% </span>
          {{/if}}
          {{#if isNotValidPrice}}
          <span class="text-danger">Giá chưa hợp lệ, vui lòng xem lại</span>
          {{/if}}
        </div>
        <div class="col-12  d-flex justify-content-center  ">
          <span class="cd font-weight-bold imgTit text-danger border color"></span>
        </div>

        <div class="col-12  d-flex  mt-2  border-bottom">
          <div class="col-6 ">
            <span> Giá hiện tại:</span> <br>

            <span class=" font-weight-bold imgTit  ">{{format products.Price}}</span> <br>
            <span><small>Giá mua ngay: {{format products.PriceToBuy}}</small> <span class="font-weight-bold">
              </span></span> <br>

          </div>
          <div class="col-6 ">
            <span> Người thắng hiện tại:</span> <br>
            {{#if havewiner}}

            <a class="text-dark" href="/account/public_profile/{{winner.f_ID}}"> <span
                class=" font-weight-bold imgTit ">{{winner.f_Name}}</span> <br>
            </a>

            <span><code>{{totals}}</code> điểm <code class="mr-2"></code>
             <code>{{points.DislikePoint}}</code> <i class="fa fa-thumbs-down" aria-hidden="true"></i> <code>{{points.LikePoint}}</code> <i class="fa fa-thumbs-up" aria-hidden="true"></i> 
            </span>
            {{else}}
            <span class=" font-weight-bold imgTit ">Chưa có</span> <br>
            {{/if}}
          </div>


        </div>
        <div class="col-12  border-bottom  ">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><small> <i class="fa fa-check mr-2" aria-hidden="true"></i>Mặt
                dưới trang bị lớp cao su chống trơn trượt</small></li>
            <li class="list-group-item"><small> <i class="fa fa-check mr-2" aria-hidden="true"></i>Tích
                hợp nút chuyển chế độ để dùng cho từng loại nhạc cụ</small></li>
            <li class="list-group-item"><small> <i class="fa fa-check mr-2" aria-hidden="true"></i>Thiết
                kế đơn giản, kích thước phù hợp với chân bạn</small></li>
            <li class="list-group-item"><small> <i class="fa fa-check mr-2" aria-hidden="true"></i>Bền và vững chắc
                với mặt dưới được trang bị lớp cao su có tác dụng chống trượt </small></li>


          </ul>
        </div>


        <div class="col-12 border-bottom">





          <div class="d-flex justify-content-around ">

            {{#if isnot}}
            <form method="POST" action="/products/bidding">
              <label for="cusbid">Ra giá của bạn :</label> <br>
              <input style="" id="Price" name="Price" value="{{validPrice}}"> <br>

              <button onclick="return myConfirm();" type="submit" class="btn btn-danger mt-2"> <i
                  class="fa fa-gavel mr-2" aria-hidden="true">
                </i>Đấu
                giá</button>

            </form>
            <form method="POST" action="/products/autobidding">
              <label for="cusbid">Giá cao nhất (Tự động đấu giá)</label> <br>
              <input style="" id="Price" name="maxprice" placeholder=""> <br>

              <button type="submit" class="btn btn-danger mt-2"> <i class="fa fa-gavel mr-2" aria-hidden="true">
                </i>Đấu
                giá tự động</button>

            </form>

            {{else}}
            <button type="submit" class="btn btn-danger mt-2">Bạn đã bị người bán từ chối đấu giá</button>
            {{/if}}


          </div>
          <div>
            <form method="POST" action="/products/addwishlist">

              <button type="submit" class="btn btn-danger mt-2"> <i class="fas fa-heart"></i> Yêu thích</button>

            </form>
          </div>




        </div>





        <div class="col-12 ">


          <form id="like" method="post" action="/products/like"></form>
          <form id="dislike" method="get" action="/products/dislike"></form>

          <ul class="list-group list-group-flush">
            <li class="list-group-item"> <span><small>Người bán:</small></span>
              <a class="text-dark" href="/account/public_profile/{{winner.f_ID}}"> <span
                class=" font-weight-bold imgTit ">{{seller.f_Name}}</span> <br>
            </a> 
               <span><code>{{totals2}}</code> điểm <code class="mr-2"></code>
             <code>{{points2.DislikePoint}}</code> <i class="fa fa-thumbs-down" aria-hidden="true"></i> <code>{{points2.LikePoint}}</code> <i class="fa fa-thumbs-up" aria-hidden="true"></i> 
            </span></li>
            <li class="list-group-item"> <span> <small>Đăng lúc: <code>{{products.CreatedDTime}}</code>
                </small>
                <span class="font-weight-bold"> </span> </span> <br></li>
            <li class="list-group-item"> <span> <small>Kết thúc vào: <code>{{endtime.endtime}}</code></small>
                <span class="font-weight-bold"> </span> </span></li>
            <li class="list-group-item">

              <form method="POST" action="/products/like">
                <div class="form-group">


                  <div class="form-group">
                    <label for="cusbid"><small>Đánh giá người bán:</small></label> <br>
                    <select name="point" class="form-control" id="exampleFormControlSelect1">
                      <option value="1">Like</option>
                      <option value="-1">Dislike</option>

                    </select>
                  </div>

                  <div class="form-group">
                    <input name="userid" type="hidden" value="{{seller.f_ID}}">
                    <input name="ProID" type="hidden" value="{{products.ProID}}">
                    <label for="exampleFormControlTextarea1">Example textarea</label>
                    <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-danger mt-2"> <i class="fas fa-heart"></i> Gửi</button>
              </form>
            </li>



          </ul>


        </div>


      </div>



    </div>

    <div class="col-md-1 border-right border-bottom  d-flex flex-column justify-content-around ">
      <div class="row  border-bottom color ">

        <span class="m-3"><i class="far fa-calendar-alt"></i> <small>30 ngày đổi trả</small></span>
      </div>
      <div class="row border-bottom color ">
        <span class="m-3"><i class="fas fa-truck"></i> <small> Giao hàng nhanh chóng</small></span>
      </div>
      <div class="row border-bottom color">
        <span class="m-3"> <i class="fa fa-phone" aria-hidden="true"></i><small> Liên hệ:
            090</small></span>
      </div>
      <div class="row border-bottom color">
        <span class="m-3"><i class="fas fa-check-circle"></i><small> Uy tín chất lượng</small></span>
      </div>



    </div>
  </div>
  <div class="row m-2 mt-4  ">
    <span class="text-uppercase mb-2">LỊCH SỬ ĐẤU GIÁ</span>
    <div class="col-12 table-responsive">
      <table class="table table-bordered text-center ">



        <tbody>
          <tr>
            <th class="color" scope="row">Người mua</th>
            <th class="color" scope="row">Giá</th>
            <th class="color" scope="row">Thời điểm</th>
            <th class="color" scope="row"></th>

          </tr>
          {{#each loginfor}}
          <tr>
            <td> <i class="fa fa-trophy" aria-hidden="true"></i>
              ***{{UserID}}</td>
            <td>{{Price}}</td>
            <td>{{BidTime}}</td>
            <td>
              <form method="POST" action="/products/banbid">
                <input type="hidden" name="UserID" value="{{UserID}}">
                <button type="submit" class="btn btn-danger mt-2"> Từ chối đấu giá</button>

              </form>
            </td>
          </tr>
          {{/each}}

        </tbody>
      </table>
    </div>
  </div>
  <div class="row m-2 mt-4  ">
    <span class="text-uppercase mb-2">CHI TIẾT SẢN PHẨM </span>
    <div class="col-12">
      <table class="table table-bordered text-center">



        <tbody>
          <tr>
            <th class="color" scope="row">Thương hiệu</th>
            <td> Cherub </td>

          </tr>
          <tr>
            <th class="color" scope="row">Xuất xứ</th>
            <td> Trung Quốc</td>
          </tr>
          <tr>
            <th class="color" scope="row">Chất liệu</th>
            <td> Kim loại, nhựa, cao su</td>

          </tr>
          <tr>
            <th class="color" scope="row">SKU</th>
            <td> WTB-005</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row m-2 mt-4  ">
    <span class="text-uppercase mb-2">MÔ TẢ SẢN PHẨM </span> <a class="ml-2 text-dark" href="/products/vwappenddes">Bổ
      sung mô tả</a>
    <div class="col-12">


      {{{products.FullDes}}}
      {{#each proImgs}}
      <img src="{{ImageLink}}" alt="">
      {{/each}}

    </div>
  </div>

  <div class="ml-2 mt-1">
    <span class="text-uppercase mb-3 ">CÁC SẢN PHẨM LIÊN QUAN </span>
    <div class="row">

      <div class="col-12">
        <div class="responsive">
          <div class="col-6 card card-body w-20">
            <a class="" href="product_detail.html"
              style="display: flex; justify-content: center;flex-direction: column;align-items: center;">
              <img class="img-fluid" src="../image/2.jpg" alt="">
              <span class="text-dark ">Chuột Không Dây Logitech M330</span>
              <span class="imgTit cd text-danger"></span>
              <span class="text-dark imgTit"> <i class="fa fa-gavel" aria-hidden="true">
                  2.000.000₫</i>
              </span>


              <span class="text-dark"><small>Giá mua ngay: <code>{{format products.Price}}</code></small></span>



            </a>
          </div>
          <div class="col-6 card card-body w-20">
            <a class="" href="product_detail.html"
              style="display: flex; justify-content: center;flex-direction: column;align-items: center;">
              <img class="img-fluid" src="../image/1.jpg" alt="">
              <span class="text-dark ">Chuột Không Dây Logitech M330</span>
              <span class="imgTit cd text-danger"></span>
              <span class="text-dark imgTit"> <i class="fa fa-gavel" aria-hidden="true">
                  2.000.000₫</i>
              </span>


              <span class="text-dark"><small>Giá mua ngay: <code>2.000.000.000₫</code></small></span>



            </a>
          </div>
          <div class="col-6 card card-body w-20">
            <a class="" href="product_detail.html"
              style="display: flex; justify-content: center;flex-direction: column;align-items: center;">
              <img class="img-fluid" src="../image/3.jpg" alt="">
              <span class="text-dark ">Chuột Không Dây Logitech M330</span>
              <span class="imgTit cd text-danger"></span>
              <span class="text-dark imgTit"> <i class="fa fa-gavel" aria-hidden="true">
                  2.000.000₫</i>
              </span>


              <span class="text-dark"><small>Giá mua ngay: <code>2.000.000.000₫</code></small></span>



            </a>
          </div>
          <div class="col-6 card card-body w-20">
            <a class="" href="product_detail.html"
              style="display: flex; justify-content: center;flex-direction: column;align-items: center;">
              <img class="img-fluid" src="../image/4.jpg" alt="">
              <span class="text-dark ">Chuột Không Dây Logitech M330</span>
              <span class="imgTit cd text-danger"></span>
              <span class="text-dark imgTit"> <i class="fa fa-gavel" aria-hidden="true">
                  2.000.000₫</i>
              </span>


              <span class="text-dark"><small>Giá mua ngay: <code>2.000.000.000₫</code></small></span>



            </a>
          </div>
          <div class="col-6 card card-body w-20">
            <a class="" href="product_detail.html"
              style="display: flex; justify-content: center;flex-direction: column;align-items: center;">
              <img class="img-fluid" src="../image/6.jpg" alt="">
              <span class="text-dark ">Chuột Không Dây Logitech M330</span>
              <span class="imgTit cd text-danger"></span>
              <span class="text-dark imgTit"> <i class="fa fa-gavel" aria-hidden="true">
                  2.000.000₫</i>
              </span>


              <span class="text-dark"><small>Giá mua ngay: <code>2.000.000.000₫</code></small></span>



            </a>
          </div>


        </div>
      </div>

    </div>
  </div>




</div>